.categories {
	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 17.7px;

		@include hover {
			transform: scale(1.1);
			transition-duration: var(--transition-duration);
			cursor: pointer;
		}
	}

	&__label {	
		color: rgba(255,255,255, .4);
		@include fluid-text(17.71,14);
	}
}