.destinations {
	
	&__list {
		column-gap: 26.6px;
	}

	&__item {
		min-width: 343.18px;
    scroll-snap-align: start;
		border-radius: var(--border-radius-image);
		overflow: hidden;
		font-family: var(--font-family-alt);

		position: relative;
		@include hover {
			// transform: scaleX(1,2);
			transform: scale(0.97);
			transition-duration: var(--transition-duration);
		}
	}

	&__label {
		position: absolute;
		bottom: 25.8px;
		left: 26.57px;
		font-weight: 500;
		line-height: 34px;
		color: var(--color-light);

		@include fluid-text(26.57,17.78);
	}
}