.header {
	// position: fixed;
	z-index: 1000;
	background-color: #444;

	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	
	
	background-color: rgba(255, 255, 255, 0.02);
	
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		// padding-inline: 52.03px;
		max-height: 94.1px;
		height: var(--header-height);

		color: #fff;
	}

	&__logo {
		&-label {
			font-weight: 700;
			
			@include fluid-text(35.42, 24);
		}
	}

	&__menu {
		font-weight: 400;
		font-size: 17.71px;
	
		&-list {
			display: flex;
			column-gap: 26.57px;
		}
	
		&-link {
			font-size: 18px;
			font-weight: 400;
			padding: 8.86px;
	
			@include hover {
				border-bottom: 1px solid var(--color-light);
				transition: var(--transition-duration);
			}


			&--bold {
				font-weight: 700;
			}
		}
	}

	
}