.hero {
	background: url(./images/hero-bg.png) center no-repeat;
	background-size: cover;

	color: var(--color-light);

	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 36px;
	}

	&__title {
		width: 840px;
		height: 184px;
		color: inherit;
		line-height: 92px;
	}
}