.offer-block {
	display: flex;
	column-gap: 22px;

	&__image {
		border-radius: var(--border-radius-image-alt);
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__company {
		font-family: Netflix Sans;
		font-weight: 400;
		@include fluid-text(17.71,14);
	}
}