.section {
	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 35.42px;
	}

	&__title {
		color: var(--color-light);
		margin-bottom: var(--section-title-margin-bottom);


		&--dark {
			color: var(--color-dark);
		}
	}
}