.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	padding-top: var(--header-height);

	&__title {
		color: var(--color-light);
		width: 840px;
		height: 184px;
		line-height: 92px;

		margin-bottom: 36px;
	}
}

.visually-hidden {
	@include visually-hidden;
}

.main {
	width: 100%;
	height: 100%;

	background: url(../../images/hero-bg.png) center center no-repeat;
	background-size: cover;
	height: 80vh; //tmp
}