:root {
	--color-light: #FFFFFF;
	--color-dark: #000000;
	--color-gray: #808080;
	--color-gray-alt: #141414;
	--color-accent: #2659C3;

	--border-radius-button: 35.4px; 
	--border-radius-mobile: 32px; 
	--border-radius-input: 17.7px;
	--border-radius-image: 8.9px; 
	--border-radius-image-alt: 23.2;

	--header-height: 94.1px;

	--section-title-margin-bottom: 35.42px;
	--section-row-gap: 79.71px;

	--font-family-base: Helvetica;

	--container-width: 1246.5px;
	--container-padding-x: 132.84px;
	--container-padding-top: 80px;

	--title-padding-bottom: 44.28px;

	--transition-duration: .2s;
} 